
.error-card {
    background-color: var(--error-bg);
    border: 1px solid var(--error-highlight);
    color: var(--error);
    padding: 1em;
    width: fit-content;
    word-break: normal;
}

.error-card h3 {
    text-align: center;
}

.error-field {
    font-weight: bold;
    font-style: italic;
}

.multiple-errors {
    list-style: none;
    margin-block-start: 0px;
    padding-inline-start: 0px;
}
