
nav {
    position: fixed;
    left: 0px;
    top: 0px;
    display: block;
    height: 56px;
    width: 100%;
    background-color: var(--barbg);
    border-bottom: 1px solid var(--barborder);
    padding: 0px 1em;
    margin: 0px;
    z-index: 10;
    color: white;

}

nav li {
    display: contents;
}

nav * {
    height: inherit;
}

nav button {
    font-size: 1em;
}

nav span {
    display: flex;
    justify-content: center;
    align-items: center;
    height: inherit;
    width: auto;
    margin-top: 0px;
    margin-bottom: 0px;
    grid-area: logo;
    color: var(--font-major);
    font-size: 1.5em;
    font-weight: bold;

}

.homeButton {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    font-weight: 700;
    background-color: var(--brightaccent);
    height: 36px;
    border-radius: 16px;
    border: none;
    grid-area: home;
}


.upload-button {
    height: 50px;
    grid-area: upload;
}

.logout-button {
    grid-area: profile;
}


nav ul {
    position: fixed;
    display: grid;
    grid-template-areas: "logo home deadspace upload moredeadspace profile";
    grid-template-columns: 90px 75px 1fr 90px 1fr 300px;
    column-gap: 1em;
    width: 100%;
    height: 50px;
    align-items: center;
    list-style: none;
    margin: 0px 0px;
    padding: 0px 0px;
}

nav ul.loggedOutNav {
    grid-template-areas: "logo home deadspace login signup";
    grid-template-columns: 90px 75px 0.95fr 90px 90px;
}

nav a {
    text-decoration: none;
}

nav a:visited {
    text-decoration: none;
}
