
.loader {
  width: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.loader-glyph {
  display: flex;
  color: var(--brightaccent);
  flex-direction: column;
  justify-content: flex-end;
  animation: spin 1s infinite ease;
  border: 16px solid var(--brightaccent);
  border-left: 16px solid var(--boxaccent);
  border-radius: 50%;
  height: 100px;
  margin-bottom: 10px;
  width: 100px;
}

#leaf {
    font-size: 2rem;
}

/* .fa-crow#leaf {
    color: var(--font-major);
}

.fa-otter#leaf {
    color: #574231;
}

.fa-kiwi-bird#leaf {
    color: #50433b;
}

.fa-worm#leaf, .fa-locust#leaf {
    color: darkgreen;
} */



.loader-caption {
  color: var(--boxaccent);
  font-size: 2rem;
  width: fit-content;
  padding-left: 1em;
  animation: load 1s ease infinite;
}

.loader-caption:after {
  display: inline;
  content: "\00a0\00a0\00a0";
  color: var(--boxaccent);
  font-size: 2rem;
  animation: load 1s ease infinite;
}

@keyframes spin {
  0% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

@keyframes load {
  0% {
    content: '\00a0\00a0\00a0';
  }
  33% {
    content: '.\00a0\00a0';
  }
  67% {
    content: '..\00a0';
  }
  100% {
    content: '...';
  }
}
