
@import url('https://fonts.googleapis.com/css2?family=Catamaran:wght@300&family=Quicksand:wght@300;400&display=swap');

:root {
  --mainbg: #ffffff;
  --barbg: #eeeeee;
  --barborder: #dddddd;
  --lightaccent: #dfeed7;
  --buttonbg: #337ab7;
  --buttonborder: #2e6da4;
  --brightaccent: #74ac00;
  --brighteraccent: #f16f3a;

  --darktab: #565656;
  --brightab: #86a91c;

  --needsid: #ffee91;
  --needsidfont: #85743D;

  --boxborder: #dedede;
  --boxbg: #ededed;
  --boxaccent: #bbbbbb;
  --lighttext: #999999;

  --inputborder: #cccccc;

  --font-major: #333333;
  --font-tab: #337ab7;

  --error: #f44336;
  --error-highlight: #ffaaaa;
  --error-bg: #ffdddd;
}

body {
  margin: 0px;
  padding: 0px;
}

html {
  height: 100%;
  margin: 0px;
  padding: 0px;
}

.wrapper {
  display: flex;
  flex-direction: column;
  padding-bottom: 56px;
  background-color: #eeeeee;
}

.crying {
  height: 56px;
  width: 100%;
}

body,
html {
  min-height: 100%;
  font-family: "Quicksand", sans-serif;
  background-color: var(--mainbg);
  color: var(--font-major);
  box-sizing: border-box;
}

.leaflet-container {
  width: 500px;
  height: 500px;
}

.go-button {
  background-color: var(--brightaccent);
  color: #ededed;
  border: none;
}

.protect-overflow {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
