.single-identification {
    display: flex;
    width: 100%;
    gap: 2em;
    justify-content: flex-start;
    align-items: center;
    margin-top: 1em;
}

.identification-info-box-wrapper {
  flex-grow: 1;
  margin-right: 60px;
}

.avatar-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-basis: 150px;
    flex-shrink: 0;
}

.identification-cabinet {
  width: 100%;
  margin-bottom: 1em;
}

.identification-comment-box {
  width: 100%;
  border: 1px solid var(--barborder);
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  position: relative;
}

.identification-comment-box:before {
content: "";
  width: 0px;
  height: 0px;
  position: absolute;
  border-left: 10px solid transparent;
  border-right: 10px solid var(--barborder);
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  left: -20px;
  top: 50%;
  word-break: break-all;
}

.identification-comment-box:after {
  content: "";
  width: 0px;
  height: 0px;
  position: absolute;
  border-left: 10px solid transparent;
  border-right: 10px solid #fff;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  left: -16px;
  top: 50%;
}

.identification-comment-box .consensus-icon {
    position: absolute;
    bottom: 8px;
    right: 8px;
}

.single-identification-controls {
    position: absolute;
    top: 8px;
    right: 8px;
}

.identification-row {
  display: flex;
  flex-direction: row;
  gap: 1em;
}

.identification-cabinet {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-right: auto;
  margin-left: auto;
  max-width: 750px;
}
