.explore-home {
  display: grid;
  height: 100%;
  width: 100%;
  grid-template-areas: "map bar";
  grid-template-columns: 80% 20%;
  grid-template-rows: 1fr;
  position: relative;
}

.explore-home .loader {
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 500;
    backdrop-filter: blur(2px);
    display: flex;
    justify-content: center;
    align-items: center;
}

.explore-home .leaflet-container {
  min-width: 100%;
  height: calc(100vh - 56px) !important;
  grid-area: map;
}

.explore-home .preview {
  grid-area: bar;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: calc(100vh - 56px);
  overflow-y: auto;
  overflow-x: hidden;
  gap: 1em;
  background-color: var(--font-major);
  border-left: 6px solid var(--brighteraccent);
  padding-left: 1em;
  padding-bottom: 1em;
}

.preview h1 {
  color: white;
}
