.map-marker, .map-marker svg {
    font-size: 1.5em;
    width: 1.5em;
    height: 1.5em;
  /* stroke: white;
  stroke-width: 20; */
}

.map-marker svg {
    transform: translate(-50%, -50%);
}

.map-marker svg {
    filter: drop-shadow(3px 5px 2px rgb(0 0 0 / 0.4));
}

.map-marker.locust, .locust svg {
    color: #82b25d;
}

.map-marker.paw {
    color: var(--brighteraccent)
}

.map-marker.leaf {
    color: var(--brightaccent)
}

.map-marker.mushroom {
    color: darkred;
}

.map-marker.crab {
    color: red;
}

.map-marker.flower-tulip {
    color: var(--brightestaccent);
}

.map-marker.squid {
    color:  #FFA600
}

.map-marker.crow {
    color: orangered;
}

.map-marker.shrimp {
    color: pink,
}

.map-marker.turtle {
    color: #5e474a;
}

.map-marker.fish-fins {
    color: var(--buttonbg);
}

.map-marker.frog {
    color: #6d9d72;
}

.map-marker.tree, .map-marker.tree-palm, .map-marker.tree-deciduous {
    color: darkgreen
}


.map-marker svg:hover {
    filter: drop-shadow(6px 10px 4px rgb(0 0 0 / 0.4)) brightness(1.5);
    font-size: 2em;
}
