
.splash-wrapper {
    height: 100%;
    width: 100%;
}

.splash {
    min-height: 50%;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    background: black;
    position: relative;
}

.auth-form {
    flex-grow: 0;
    background-color: var(--brighteraccent);
    display: flex;
    flex-direction: column;
    align-items: center;
    height: fit-content;
    justify-content: space-between;
    border-radius: 5px;
    width: fit-content;
    position: relative;
    margin-top: 4em;
    margin-right: 18.75%;
    margin-bottom: 2em;
    padding-bottom: 1em;
}

#h2-login, #h3-login {
    text-align: center;
}

#h3-login {
    font-size: 1.5em;
}

.auth-form .error-card {
    background-color: var(--error);
    color: white;
}


.form-errors {
    position: absolute;
    top: 0px;
    left: 0px;
    transform: translate(-125%, 50%);
}
.auth-fields {
    width: 100%;
    display:flex;
    flex-direction: column;
    align-items: center;
    color: white;
    gap: 1em;
}

.input-wrapper {
    position: relative;
}

#email-icon, #pw-icon, #user-icon, #pw-ok, #pw-no {
    position: absolute;
    left: 4px;
    top: 0px;
    color: var(--brightaccent);
    transform: translateY(50%);
}

#pw-no {
    color: var(--error)
}

.auth-form input {
    margin-bottom: 1em;
    margin: 0 auto 1em;
    border: 1px solid var(--barborder);
    border-radius: 2px;
    box-shadow: 0px 0px 2px var(--barborder);
    height: 2em;
    border-radius: 8px;
    padding-left: 2em;
}
.auth-form input:focus{
    outline: none;
    box-shadow: 1px 1px 6px var(--fontmajor);
}

.splash-border {
    height: 120px;
    background-color: var(--brightaccent);
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    gap: 2em;
}

.splash-border h4 {
    text-align: center;
}

.splash-border h4 a {
    text-decoration: none;
    color: white;
}

.splash-border h4 a:visited {
    text-decoration: none;
    color: white;
}

.splash-border h4 a:hover {
    text-decoration: none;
    color: var(--brighteraccent);
}

.random-login-logo {
    font-size: 5em;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.splash-about-links {
    display: flex;
    flex-direction: row;
    text-decoration: none;
    list-style: none;
    padding-inline-start: 0px;
}


.splash-about-links a svg {
    color: var(--brightestaccent);
}



.splash-about-links li {
    padding-right: 1em;
}

.splash-about-links li+li {
    border-left: 1px solid white;
    padding-left: 1em;
}

.splash-about-links a:visited {
    text-decoration: none;
    color: white;
}

.splash-about-links a:hover {
    color: var(--brighteraccent) !important;
}

.how-it-works {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
}




.how-it-works-inner {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 3em;
}

.how-it-works h3 {
    height: 2em;
    margin-top: 1em;
    margin-bottom: 1em;
}

.how-it-works-panel {
    text-align: center;
    width: 250px;
    flex-grow: 0;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hiw-icon {
    font-size: 7em;
    background-color: var(--barborder);
    border-radius: 50%;
    overflow: visible;
    box-shadow: 2px 2px 4px var(--darktab);
    width: 200px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hiw-icon:hover {
    background-color: var(--darktab);
}

.hiw-icon-icon .fa-secondary {
   fill: var(--brightaccent);
   opacity: 0.8;
   pointer-events: none;
}

.hiw-icon:hover .fa-secondary {
   fill: var(--brighteraccent);
   opacity: 0.8;
}


.contribute {
    display: grid;
    height: 400px;
    width: 100%;
    grid-template-areas: "info photo";
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
}

.contribute-info {
    height: 400px;
    grid-area: info;
    background-color: var(--font-major);
    color: white
}

.contribute-photo {
    grid-area: photo;
    max-height: 400px;
    min-height: 400px;
    min-width: 100%;
    object-fit: cover;
    object-position: center center;
}

.login-buttons {
    display: grid;
    height: 66px;
    width: 100%;
    grid-template-areas: "login demo";
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
}

#form-login-btn, .demolition {
    height: 100%;
    width: 100%;
    padding: 0px;
    border-radius: 0px;
    font-size: 1.5em;
    display: flex;
    gap: 4px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 1em;
    border-top: 1px solid var(--darktab);
    border-bottom: 1px solid var(--darktab);
}

#form-login-btn:hover, .demolition:hover {
    color: var(--barbg);
    background-color: var(--brighttab);
}

#form-login-btn {
    grid-area: login;
    border-right: 1px solid var(--darktab)
}

.demolition {
    grid-area: demo;
}

@media screen and (max-width: 900px) {
    .form-errors {
        position: static;
        top: unset;
        left: unset;
        transform: unset;
        margin-bottom: 1em;
    }

}

.details {
    margin-top: 0px;
    height: 516px;
    background-color: var(--zhoug);
    padding-bottom: 1em;
}

.details h2 {
    width: 100%;
    text-align: center;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-top: 1em;
    font-size: 2em;
    height: 100px;
}

.details-wrapper {
    display: grid;
    grid-template-areas: "a b"
                         "c d"
                         "e f";
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 133px 133px 134px;
}

.panel {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 2em;
    height: 100%;
    width: 100%;
}

.panel > svg:first-child {
    font-size: 4em;
    min-width: 200px !important;
}

.panel h3 {
    padding: 0px;
    margin: 0px;
}

.panel-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}


.details-panel-a {
    grid-area: a;

}

.details-panel-b {
    grid-area: b;

}

.details-panel-c {
    grid-area: c;

}

.details-panel-d {
    grid-area: d;
}

.details-panel-e {
    grid-area: e;
}

.details-panel-f {
    grid-area: f;
}

.splash-about-links a, .panel-lil a {
    display: flex;
    gap: 8px;
    justify-content: space-between;
    align-items: baseline;
    text-decoration: none;
    font-size: 1.5em;
}

.panel-lil a {
    display: inline;
    align-items: center;
}

.panel-lil svg {
    font-size: 1.5em;
    width: 1.5em;
}

.signup-wrapper {
    height: 100%;
    display: grid;
    grid-template-areas: "cover form";
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 100%;
}

.signup-cover {
    grid-area: cover;
    height: 100%;
    width: 100%
}

.signup-form-wrapper {
    grid-area: form;
    height: 100%;
    width: 100%;
    padding-bottom: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--zhoug)
}

.signup-form-wrapper .auth-form {
    padding: 1em;
}

.signup-cover {
    background-size: cover;
    background-position-x: 37.5%;
}

.signup-form-wrapper h1,
.signup-form-wrapper h2,
.signup-form-wrapper h3,
.signup-form-wrapper h4,
.signup-form-wrapper h5 {
    text-align: center;
}
