.observation-info {
    display: flex;
    gap: 1em;
}

.observation-date {
    padding-top: 1em;
    display: flex;
    flex-direction: column;
    padding-bottom: 1em;
    height: 56px;
    justify-content: space-evenly;
}

.observation-date > span:first-child {
    font-weight: bold;
}
