.observation-cabinet {
  width: 100%;
}

.cabinet-container {
  display: flex;
  width: 100%;
  max-width: fit-content;
  height: 100%;
  min-height: 100%;
  margin-left: auto;
  margin-right: auto;
  max-width: 1200px;
  flex-direction: column;
  justify-content: flex-start;
  background-color: white;
  border: 1px solid var(--barborder);
  margin-top: 1em;
  margin-bottom: 2em;
  box-shadow: 2px 2px 2px rgba(0,0,0,0.3)
}

.cabinet-taxon-header {
  display: flex;
  height: 56px;
  width: 100%;
  justify-content: space-between;
  flex-direction: row;
}

.cabinet-header-titles {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.cabinet-header-controls {
  display: flex;
  gap: 8px;
  margin-top: 8px;
  margin-right: 8px;
  cursor: pointer;
}

.observation-header {
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 1em;
    margin-right: 1em;
    height: 56px;
    display: flex;
    justify-content: flex-start;
    align-items: baseline;
    gap: 8px;
}

.observation-header span {
    margin-top: 0px;
    margin-bottom: 0px;
    height: 56px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: auto;
}


.display-name-header {
    font-weight: normal;
    color: black;
    font-size: 2em;
}

.sci-name-subheader {
  font-weight: normal;
  font-size: 1.5em;
  color: #747474;
}

.cabinet-row {
  height: 100%;
  width: fit-content;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  border: 1px solid var(--barborder);
}


.cabinet-row-left {
  display: flex;
  height: 100%;
  min-height: 100%;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding-top: 2em;
  padding-left: 1em;
  padding-right: 1em;
}

.cabinet-row-right {
  border: 1px solid var(--barborder);
  margin: -1px;
}

.cabinet-row-right .leaflet-container {
  width: 500px;
  height: 500px;
  margin: 2em;
}

.cabinet-photo {
  width: 500px;
  height: 400px;
  border: 1px solid var(--barborder);
}

.observation-delete-modal {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cabinet-photo-image {
  width: inherit;
  max-width: 500px;
  max-height: 400px;
  height: inherit;
  object-fit: cover;
}

.cabinet-user-info {
  width: 100%;
  height: 96px;
  border: 1px solid var(--barborder);
  margin: -1px;
}

.cabinet-details {
  width: 100%;
  height: 100%;
  margin-top: auto;
  margin-bottom: auto;
}
