.observation-description {
    display: flex;
    width: 100%;
    gap: 2em;
    justify-content: flex-start;
    align-items: center;
    margin-top: 1em;
}

.cabinet-details h4 {
  text-align: center;
}

.avatar-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.observation-description-box-wrapper {
  margin-right: 40px;
}

.observation-description-box {
  max-width: 400px;
  border: 1px solid var(--barborder);
  text-align: center;
  position: relative;
  overflow-wrap: break-word;
  padding: 20px;
}

.observation-description-box:before {
content: "";
  width: 0px;
  height: 0px;
  position: absolute;
  border-left: 10px solid transparent;
  border-right: 10px solid var(--barborder);
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  left: -20px;
  top: 50%;
}

.observation-description-box:after {
  content: "";
  width: 0px;
  height: 0px;
  position: absolute;
  border-left: 10px solid transparent;
  border-right: 10px solid #fff;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  left: -16px;
  top: 50%;

}.observation-description-box span {
  overflow-wrap: break-word;
}
