.observation-edit {
    display: flex;
    flex-direction: row;
    gap: 1em;
}

.observation-edit-modal {
    width: auto;;
}

.observation-upload-right {
    width: fit-content;
    min-width: 500px;
}


.observation-edit-modal label {
    font-weight: bold;
}

.observation-edit-modal input {
    border-radius: 8px;
    padding: 8px;
    width: 300px;
    font-family: "Quicksand", sans-serif;
}

.observation-edit-modal textarea {
    border-radius: 8px;
    padding: 8px;
    width: 400px;
    min-height: 100px;
    resize: vertical;
    font-family: "Quicksand", sans-serif;
}
