.observation-info {
    display: flex;
    gap: 1em;
}

.observation-date {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-self: flex-end;
}

.observation-date > span:first-child {
    font-weight: bold;
}
