.upload-form-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.upload-form-container {
    
}

.upload-form-container .leaflet-container {
    min-width: 500px;
    height: 500px;
}

.observation-upload {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 75%;
    margin: auto;
}

.observtion-upload-date {
    width: 500px;
}

#calendar-upload {
    border-radius: 5px;
}
